*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    // background-color: #000;
}

#main{
    width: 100%;
    height: 100%;
display: flex;
align-items: center;
justify-content: center;
    .card{
        width: 300px;
        height: 250px;
        border-radius: 10px;
        overflow: hidden;
       position: relative;
       
       img{
        transition: all ease 1.1s;
       }
       img:hover{
        rotate: 180deg;
    }

    }
    
    .btm{
            width: 300px;
            height: 70px;
            position: absolute;
            top:60%;
            opacity: 0;
            transition: all ease 0.4s;
            border-radius: 10px;
            background: linear-gradient(transparent,black);
        }
    
    .btm:hover{
      
        opacity: 1;
        border-radius: 10px;
    }
    
     
       
}