@font-face {
    font-family: sv;
    src: url(./SFPRODISPLAYREGULAR.OTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

$vk : rgb(0, 113, 227);

#main {
    width: 100%;
    height: 100%;


    #nav {
        display: flex;
        padding: 10px;
        gap: 30px;
        justify-content: center;
        cursor: pointer;

        h4:nth-child(1) {
            i {
                font-size: 15px;
                font-weight: 200;
            }
        }

        h4:nth-child(12) {
            i {

                font-size: 15px;
                font-weight: 200;
            }
        }

        h4:nth-child(13) {
            i {

                font-size: 15px;
                font-weight: 200;
            }
        }


    }

    #top {
        display: flex;
        height: 80%;
        align-items: center;
        padding-top: 30px;
        flex-direction: column;
        text-align: center;
        background-image: url("./iphone 17 pro.jpg");
        background-size: cover;
        background-position: center;

        h1 {
            color: white;
            font-family: sv;
            margin-top: 10px;
            font-size: 55px;
            font-weight: 300px;

        }

        h2 {
            margin-top: 10px;
            color: white;
            font-family: sv;
            font-size: 30px;
            letter-spacing: 1px;
            font-weight: 300px;
        }

        .elem1 {

            button:nth-child(1) {
                margin-top: 20px;
                margin-right: 2px;
                border: none;

                border-radius: 20px;
                padding: 10px 20px;
                color: white;
                font-size: 15px;
                background-color: rgb(0, 113, 227);
            }

            button:nth-child(2) {
                margin-top: 20px;
                margin-left: 2px;
                border: 2px solid rgba(0, 113, 227, 0.826);
                border-radius: 20px;
                padding: 10px 20px;
                color: rgb(0, 113, 227);
                font-size: 15px;
                background-color: transparent;
            }
             button:nth-child(2):hover {
                border: none;
                background-color: $vk;
                color: white;
                cursor: pointer;
            }
        }

    }

    #top-down {
        height: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
        background-size: cover;
        text-align: center;
        background-position: center;
        background-image: url("./new-land.jpg");

        h1 {
            color: black;
            font-family: sv;
            margin-top: 10px;
            font-size: 55px;
            font-weight: 300px;

        }

        h2 {
            margin-top: 10px;
            color: black;
            font-family: sv;
            font-size: 30px;
            letter-spacing: 1px;
            font-weight: 300px;
        }

        button:nth-child(1) {
            margin-top: 20px;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            color: white;
            font-size: 15px;
            background-color: rgb(0, 113, 227);
        }

        button:nth-child(2) {
            margin-top: 20px;
            border: 2px solid rgb(0, 113, 227);
            border-radius: 20px;
            padding: 10px 20px;
            color: rgb(0, 113, 227);
            font-size: 15px;
            font-weight: 600;
            background-color: transparent;
        }
         button:nth-child(2):hover {
                border: none;
                background-color: $vk;
                color: white;
                cursor: pointer;
            }
    }

    .grid {
        width: 100%;
        display: grid;
        gap: 30px;
        margin-top: 20px;
        text-align: center;

        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"

        ;

        .card1 {
            width: 100%;
            height: 600px;
            padding: 20px;
            background-position: center;
            background-size: cover;
            background-image: url(./airpods.jpg);

            h1 {
                color: black;
                font-family: sv;
                margin-top: 20px;
                font-size: 40px;
                font-weight: 300px;

            }

            h2 {
                margin-top: 10px;
                color: black;
                font-family: sv;
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: 300px;
            }

            button:nth-child(1) {
                margin-top: 20px;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                color: white;
                font-size: 15px;
                background-color: rgb(0, 113, 227);
            }

            button:nth-child(2) {
                margin-top: 20px;
                border: 2px solid rgb(0, 113, 227);
                border-radius: 20px;
                padding: 10px 20px;
                color: rgb(0, 113, 227);
                font-size: 15px;
                font-weight: 600;
                background-color: transparent;
            }
             button:nth-child(2):hover {
                border: none;
                background-color: $vk;
                color: white;
                cursor: pointer;
            }

        }

        .card2 {
            width: 100%;
            height: 600px;
            background-position: center;
            padding: 20px;
            background-size: cover;
            background-image: url(./iphone-17.jpg);

            h1 {
                color: black;
                font-family: sv;
                margin-top: 10px;
                font-size: 40px;
                font-weight: 300px;

            }

            h2 {
                margin-top: 10px;
                color: black;
                font-family: sv;
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: 300px;
            }

            button:nth-child(1) {
                margin-top: 20px;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                color: white;
                font-size: 15px;
                background-color: rgb(0, 113, 227);
            }

            button:nth-child(2) {
                margin-top: 20px;
                border: 2px solid rgb(0, 113, 227);
                border-radius: 20px;
                padding: 10px 20px;
                color: rgb(0, 113, 227);
                font-size: 15px;
                font-weight: 600;
                background-color: transparent;
            }
             button:nth-child(2):hover {
                border: none;
                background-color: $vk;
                color: white;
                cursor: pointer;
            }

        }

        .card3 {
            width: 100%;
            height: 600px;
            padding: 20px;
            background-position: center;
            background-size: cover;
            background-image: url(./watch-11.jpg);

            h1 {
                color: black;
                font-family: sv;
                margin-top: 10px;
                font-size: 40px;
                font-weight: 300px;

            }

            h2 {
                margin-top: 10px;
                color: black;
                font-family: sv;
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: 300px;
            }

            button:nth-child(1) {
                margin-top: 20px;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                color: white;
                font-size: 15px;
                background-color: rgb(0, 113, 227);
            }

            button:nth-child(2) {
                margin-top: 20px;
                border: 2px solid rgb(0, 113, 227);
                border-radius: 20px;
                padding: 10px 20px;
                color: rgb(0, 113, 227);
                font-size: 15px;
                font-weight: 600;
                background-color: transparent;
            }
             button:nth-child(2):hover {
                border: none;
                background-color: $vk;
                color: white;
                cursor: pointer;
            }

        }

        .card4 {
            width: 100%;
            height: 600px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background-position: center;
            justify-content: flex-end;
            background-size: cover;
            background-image: url(./watch-se-3.jpg);

            .elem {

                h1 {
                    color: black;
                    font-family: sv;
                    margin-top: 10px;
                    font-size: 40px;
                    font-weight: 300px;

                }

                h2 {
                    margin-top: 10px;
                    color: black;
                    font-family: sv;
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-weight: 300px;
                }

            }

            .elem1 {

                button:nth-child(1) {
                    margin-top: 20px;
                    border: none;
                    border-radius: 20px;
                    padding: 10px 20px;
                    color: white;
                    font-size: 15px;
                    background-color: rgb(0, 113, 227);
                }

                button:nth-child(2) {
                    justify-self: flex-end;
                    border: 2px solid rgb(0, 113, 227);
                    border-radius: 20px;
                    padding: 10px 20px;
                    color: rgb(0, 113, 227);
                    font-size: 15px;
                    font-weight: 600;
                    background-color: transparent;
                }
            }
 button:nth-child(2):hover {
                border: none;
                background-color: $vk;
                color: white;
            }



        }

        .card5 {
            width: 100%;
            height: 600px;
            padding: 20px;
            background-position: center;
            background-size: cover;
            background-image: url(./watch-ultra.jpg);

            h1 {
                color: rgb(249, 247, 247);
                font-family: sv;
                margin-top: 10px;
                font-size: 40px;
                font-weight: 300px;

            }

            h2 {
                margin-top: 10px;
                color: rgb(244, 240, 240);
                font-family: sv;
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: 300px;
            }

            button:nth-child(1) {
                margin-top: 20px;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                color: white;
                font-size: 15px;
                background-color: rgb(0, 113, 227);
            }

            button:nth-child(2) {
                margin-top: 20px;
                border: 2px solid rgb(0, 113, 227);
                border-radius: 20px;
                padding: 10px 20px;
                color: rgb(0, 113, 227);
                font-size: 15px;
                font-weight: 600;
                background-color: transparent;
            }

            button:nth-child(2):hover {
                border: none;
                background-color: $vk;
                color: white;
                cursor: pointer;
            }

        }

        .card6 {
            width: 100%;
            height: 600px;
            padding: 20px;
            background-position: center;
            background-size: cover;
            background-image: url(./trade-in.jpg);

            h1 {
                color: black;
                font-family: sv;
                margin-top: 10px;
                font-size: 40px;
                font-weight: 300px;

            }

            h2 {
                margin-top: 10px;
                color: black;
                font-family: sv;
                font-size: 20px;
                letter-spacing: 1px;
                font-weight: 300px;
            }

            button:nth-child(1) {
                margin-top: 20px;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                color: white;
                font-size: 15px;
                background-color: rgb(0, 113, 227);
            }

            button:nth-child(2) {
                margin-top: 20px;
                border: 2px solid rgb(0, 113, 227);
                border-radius: 20px;
                padding: 10px 20px;
                color: rgb(0, 113, 227);
                font-size: 15px;
                font-weight: 600;
                background-color: transparent;
            }
             button:nth-child(2):hover {
                border: none;
                background-color: $vk;
                color: white;
                cursor: pointer;
            }

        }
    }
}