* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

}

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(241, 215, 215);
   &::-webkit-scrollbar{
    color: red;
   }

    #top {
        width: 100%;
        height: 30%;
        align-content: center;
        justify-items: center;
        background-color: #557ea5;

        h1 {
            font-size: 50px;
            font-weight: 500;
            color: white;
        }

        h4 {
            font-size: 19px;
            font-weight: 200;
            color: rgba(255, 255, 255, 0.858);
        }
    }

    #center {
        width: 100%;

        background-color: wheat;
        padding: 30px 200px;

        .box {
           
            background-color: #fff;
            text-align: center;
            padding: 30px;
            border-radius: 30px;


            p {
                
                margin-top: 20px;
                font-size: 16px;
            }
        }


        .box-1 {

            margin-top: 20px;
            background-color: #a0eeff;
          
            padding: 30px;
            border-radius: 30px;
            align-items: center;
            justify-items: center;

            h4 {

              padding: 20px 200px;

                border-radius: 30px;
                margin-top: 20px;
                background-color: #fff;
            }

        }

        .box-2 {
width: 100%;
            margin-top: 20px;
            background-color: #c6850d;
            text-align: center;
            padding: 30px;
            border-radius: 30px;
            align-items: center;
            justify-items: center;

            h4 {
               
                padding: 14px 100px;
                border-radius: 30px;
                margin-top: 20px;
                background-color: #fff;
            }

        }
         .box-3 {

            margin-top: 20px;
            background-color: #05e5ad;
            text-align: center;
            padding: 30px;
            border-radius: 30px;
            align-items: center;
            justify-items: center;

            h4 {
                padding: 14px 100px;
                border-radius: 30px;
                margin-top: 20px;
                background-color: #fff;
            }

        }
        .box-4 {

            margin-top: 20px;
            background-color: #fffaa0;
            text-align: center;
            padding: 30px;
            border-radius: 30px;
            align-items: center;
            justify-items: center;

            h4 {
                padding: 14px 100px;
                border-radius: 30px;
                margin-top: 20px;
                background-color: #fff;
            }

        }


    }

    #bottom{
        color: #fff;
        padding: 14px ;
       
       justify-items: center;
        background-color: #000;
    }

}