* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    cursor: none;
}


#main {
    width: 100%;
    height: 100%;

    #cursor {
        height: 50px;
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: opacity 0.3s;

    }

}