* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%;

    #nav {
        display: flex;
        width: 100%;
        height: 60px;

        justify-content: space-between;
        padding: 20px 5%;

        h2 {
            font-family: sans-serif;
            text-transform: capitalize;
        }

        .navtxt {
            gap: 40px;
            display: flex;

            h4 {
                font-family: sans-serif;
                text-transform: capitalize;
            }
        }
    }

    #center {
        width: 100%;

        justify-items: center;
        padding: 0px 20px;

        .image-1 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150px;
            height: 170px;

        }

        .image-2 {
            position: absolute;
            top: 69%;
            left: 60%;
            width: 100px;
            height: 100px;

        }

        .image-3 {
            position: absolute;
            top: 40%;
            left: 68%;
            width: 180px;
            height: 230px;

        }

        h1 {
            text-transform: capitalize;
            font-size: 320px;
            letter-spacing: 2px;
        }
    }


    #bottom {
        display: flex;
        padding: 40px;
        justify-content: space-between;

        .btm {
            margin-top: 70px;
            text-decoration: underline;

        }

        .btm1 {

            p {
                position: absolute;
                font-weight: 200;
                bottom: 110px;
            }

            h2:nth-child(1) {
                position: absolute;
                font-size: 17px;
                font-weight: 900;
                bottom: 180px;
            }

            h2:nth-child(3) {
                position: absolute;
                margin-top: 10px;
                font-size: 15px;
                font-weight: 900;
                bottom: 80px;
            }

            h3 {
                position: absolute;
                margin-top: 5px;
                font-size: 18px;
                font-weight: 900;
                margin-bottom: 10px;
                bottom: 12px;
            }

            h4 {
                position: absolute;
                margin-top: 5px;
                font-size: 13px;
                font-weight: 900;
                margin-bottom: 10px;
                bottom: 50px;

            }
        }
    }
}