* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;

    .card {
        flex-shrink: 0;
        padding: 20px;
        margin-top: 40px;
        margin-left: 20px;
        text-align: center;
        border-radius: 10px;
        background-color: #fff;

        button {
            border: none;
            border-radius: 20px;
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: rgb(0, 113, 227);
            color: #fff;
        }

        h2 {
            padding: 10px 5px;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
        }

        p {
            color: rgba(97, 93, 93, 0.979);
        }

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;

        }

    }
}